<div class="product-list">
    <h1 class="title-h1">Products List</h1>
    <p class="message-p">{{ productAlterMessage }}</p>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price | currency }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <a routerLink="/seller-update-product/{{item.id}}" class="action-button" ><i class="bi bi-pencil-square"></i></a>
            <button class="action-button" (click)="deleteProduct(item.id)"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>