<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller signup</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" name="name" ngModel placeholder="Enter Name">
            <input class="form-input" type="email"  name="email" ngModel placeholder="Enter Email">
            <input class="form-input" type="password"  name="password" ngModel placeholder="Enter Password">
            <button class="form-button">Sign-Up</button>
        </form>
    </div>
</div>