<div class="add-product">
    <h1 class="title-h1">Add New Product</h1>
    <p class="message-p">{{productCreationMessage}}</p>
    <form #addProduct="ngForm" class="common-form" (ngSubmit)="addProducts(addProduct, addProduct.value)" >
        <input type="text" class="form-input" placeholder="Enter Product Name" name="name" ngModel>
        <input type="number" class="form-input" placeholder="Enter Product Price" name="price" ngModel>
        <input type="text" class="form-input" placeholder="Enter Product Color" name="color" ngModel>
        <input type="text" class="form-input" placeholder="Enter Product Category" name="category" ngModel>
        <input type="text" class="form-input" placeholder="Enter Product Image URL" name="image" ngModel>
        <textarea name="description" id="desc" placeholder="Enter Product Description" ngModel style="margin-bottom: 2rem;"></textarea>
        <button class="form-button">Add Product</button>
    </form>
</div>